<div class="container">
  <h3>New Student</h3>

  <% if flash[:errors] %>
   <% flash[:errors].each do |e| %>
    <p><%= e %></p>
   <% end %>
  <% end %>

  <form class="form-horizontal" action="/dojos/<%= @dojo.id %>/students" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="form-group">
      <label for="first_name" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="first_name" name="student[first_name]" placeholder="Enter Fist Name">
      </div>
    </div>

    <div class="form-group">
      <label for="last_name" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="last_name" name="student[last_name]" placeholder="Enter Last Name">
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="email" name="student[email]" placeholder="Enter Email">
      </div>
    </div>

    <div class="form-group">
      <label for="dojo" class="col-sm-2 control-label">Dojo</label>
      <div class="col-sm-4">
        <select class="form-control" name="student[dojo_id]">
          <% @dojos.each do |dojo| %>
            <% if dojo == @dojo %>
              <option value="<%= dojo.id %>"><%= dojo.branch %></option>
            <% else %>
              <option value="<%= dojo.id %>"><%= dojo.branch %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <button type="submit" class="btn btn-default">Create</button>
      </div>
    </div>
  </form>

  <a href="/dojos">Home</a>
  <span>|</span>
  <a href="/dojos/<%= @dojo.id %>"><%= @dojo.branch %></a>

</div>
