<% include ../partials/header %>
<h2><%= campground.name %></h2>
<img src="<%= campground.image %>" alt="camp image">
<p><%= campground.description %></p>
<p>
  <a class="btn btn-success" href="/camgrounds/<%= campground._id %>/comments/new">Add new comment</a>
</p>
<% campground.comments.forEach(function(comment){ %>
  <p><strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }) %>

<% include ../partials/footer %>
