<% include partials/header %>
<div class="row">
<h2>Make a Post</h2>
<form class="" action="/posts" method="post">
  <div class="control-group col-md-4">
		<label class="control-label" for="name">Name</label>
		<div class="controls">
			<input type="text" id="name" name="name" placeholder="" class="form-control input-lg">
		</div>
	</div>
  <div class="control-group col-md-10">
    <label class="control-label" for="message">Message</label>
      <div class="controls">
        <textarea class="form-control" rows="3" name="message"></textarea>
      </div>
  </div>

  <div class="form-group col-md-3">
    <button class="btn btn-lg btn-success btn-block" type="submit">Post Message</button>
  </div>
</form>
</div>

  <div class="row">
    <div class="col-md-12">
      <% for(post in posts){%>
        <h4>Name: <%= posts[post].name %></h4>
        <h4>Message: <%= posts[post].message %></h4>
        <div class="comment" style="text-align: right">
          <% for(comment of posts[post]._comment){ %>
            <h5><%="Name: " + comment.name %></h5>
  					<h5><%="Comment: " + comment.comment %></h5>
            <br>
          <% } %>
        </div>


          <div class="row">
          <h3>Leave a comment</h3>
          <form class="" action="/comment/<%= posts[post]._id%>" method="post">
            <div class="control-group col-md-4">
          		<label class="control-label" for="name">Name</label>
          		<div class="controls">
          			<input type="text" id="name" name="c_name" placeholder="" class="form-control input-lg">
          		</div>
          	</div>
            <div class="control-group col-xs-6">
              <label class="control-label" for="comment">Message</label>
                <div class="controls">
                  <textarea class="form-control" rows="3" name="comment"></textarea>
                </div>
            </div>

            <div class="form-group col-xs-2">
              <button class="btn btn-primary btn-block" type="submit">Comment</button>
            </div>
          </form>


          </div>
        <hr>
      <% } %>
    </div>
  </div>

<% include partials/footer %>
